* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif, 微軟正黑體;
}

body {
    background-color: #e0e0e2;
    box-sizing: border-box;
}

.card__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    background: white;
    width: 350px;
    height: 200px;
    margin: auto;
    border-radius: 6px;
    padding: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}

.card__name {
    font-size: 30px;
}

.card__eName {
    color: #666;
    margin: 5px 0;
}

.card__job {
    color: #36b9c1;
    font-weight: 500;
}

.card__detail_content{
    margin-top: 10px;
    color: #666;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 22px;
}

.card__detail {
    margin-top: 10px;
    padding-right: 150px;
}

.card__wave {
    width: 700px;
    height: 700px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 40%;
    opacity: 0.5;
    margin-top: -50%;
}

.card__wave--one {
    background: #36b9c1;
    margin-left: 70%;
    animation: rotate 6000ms infinite linear;
    transition: all 0.5s;
}

.card__wave--two {
    background: yellow;
    animation: rotate 10000ms infinite linear;
    margin-left: 65%;
    opacity: 0.2;
    transition: all 1.5s;
}

.card__wave--three {
    background: #36b9c1;
    animation: rotate 7000ms infinite linear;
    margin-left: 68%;
    transition: all 1s;
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.card:hover {
    transform: translate3d(-5px, -5px, 0);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}

.card:hover .card__wave--one {
    left: 50px
}

.card:hover .card__wave--two {
    left: 50px
}

.card:hover .card__wave--three {
    left: 50px
}
